h1{
    text-align: center;
}

div.contenedor{
    width: 80%;
    height: 20%;
    overflow: auto;
    margin: auto;
    border: 3px solid #a9dadc;
}

span{
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    background-color: #a9dadc;
    border: 1px solid #457b9b;
    height: 50px;
    padding: 5px;
    display: inline-block;
}

.menu{
    list-style-type: none;
    text-align: center;
}

.menu li{
    display: inline-block;
    padding: 15px;
    margin: 20px;
    background-color: #e63946;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: wheat;
}