h1{
    text-align: center;
}

div.contenedor{
    width: 30%;
    height: 100px;
    overflow: auto;
}

div.contenedor.flotado{
    float: left;
}

div.contenedor.flotado.contenedor1{
    border:3px solid black
}

div.contenedor.flotado.contenedor2{
    border:3px dashed blue;
    float:right;
}

div.contenedor.contenedor3{
    clear: both;
    border: 3px solid brown;
    margin: auto;
}