h1{
    text-align: center;
}

div.contenedor{
    position: relative;
    border: 3px dashed greenyellow;
    width: 30%;
    height: 100px;
    margin: auto;
    /*overflow: visible,hidden,scroll*/
    overflow: auto;
}